* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main-suc .color h5, .main-nosotros h4, .main-contacto p {
  text-align: center;
  font-size: medium; }

.body {
  margin: 0;
  background-color: #333;
  position: relative; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(to bottom, #EF271B, #F56416);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  .header__logo {
    width: 12rem; }
  .header__nav {
    list-style: none;
    text-decoration: none;
    display: block;
    transition: all 0.4s linear;
    border-radius: 5px; }
    .header__nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .header__nav ul li {
        display: inline-block; }
        .header__nav ul li a {
          font-size: 12px;
          text-decoration: none;
          color: white;
          display: block;
          transition: all 0.4s linear;
          padding: 0.5rem 0.2rem;
          border-radius: 5px; }
          .header__nav ul li a:hover {
            background-color: #4a4a4a;
            text-shadow: #000 2px 1.2px; }
  .header__input {
    border-radius: 5px;
    font-size: 15px;
    padding: 0 20px;
    width: 75vw;
    height: 25px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    text-align: center; }
  .header__lupita {
    position: absolute;
    right: 13vw;
    top: 80px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 15%; }

.main-index {
  padding-top: 8.6rem;
  width: 100%;
  margin: 0 auto;
  background-color: #252525; }
  .main-index__subBanner {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-index__subBanner img {
      width: 90vw;
      margin: 4px 15px;
      border-radius: 70px; }
  .main-index__section {
    padding: 10px;
    color: white;
    min-height: 100vh; }
    .main-index__section .tiposPC {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      margin: 0 auto; }
      .main-index__section .tiposPC img {
        width: 18rem; }

.main-cat {
  background-color: #252525;
  font-family: sans-serif;
  letter-spacing: 0.03cm;
  line-height: 1.6;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-top: 8.6rem; }
  .main-cat__button {
    background: linear-gradient(to bottom, #EF271B, #F56416);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4.5px; }
    .main-cat__button .cat {
      margin: 0 auto; }
      .main-cat__button .cat button {
        width: 19rem;
        line-height: 1.2rem;
        border-radius: 5px; }
    .main-cat__button .cat2 {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      width: 50%;
      align-items: center; }
      .main-cat__button .cat2 button {
        border-radius: 5px;
        line-height: 1.2rem;
        width: 5rem; }
  .main-cat .list-catalogo {
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-wrap: wrap; }
    .main-cat .list-catalogo .card {
      background-image: linear-gradient(to top, #EF271B, #E28413);
      width: 300px;
      height: 310px;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 10px;
      text-align: center;
      transition: all 0.25s;
      display: flex;
      align-items: center; }
      .main-cat .list-catalogo .card img {
        width: 300px;
        height: 220px;
        background: white;
        border-radius: 5px; }
      .main-cat .list-catalogo .card h3 {
        padding: 0 1rem;
        font-size: 12.5px;
        font-weight: 300;
        line-height: 1.3rem; }
      .main-cat .list-catalogo .card button {
        border-radius: 20px;
        width: 50%;
        background-color: #EF271B;
        color: white; }

.main-suc {
  padding-top: 8.6rem;
  width: 100%;
  background-color: #252525;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .main-suc iframe {
    width: 90vw;
    height: 70vh;
    margin: 5px; }
  .main-suc .color {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-suc .color h5 {
      border-radius: 15px;
      text-shadow: #252525 2px 1.2px;
      background-color: #EF271B;
      padding: 0px 4.5px; }
    .main-suc .color h4 {
      font-size: larger; }
  .main-suc .direc {
    color: white;
    text-align: center;
    line-height: 0.6rem;
    background-color: #EF271B;
    border-radius: 10px;
    margin: 15px; }
    .main-suc .direc h6 {
      background: linear-gradient(to bottom, #EF271B, #F56416);
      border-radius: 10px; }
    .main-suc .direc p {
      font-size: medium;
      text-align: start; }

.main-nosotros {
  padding-top: 8.6rem;
  width: 100%;
  margin: 0 auto;
  background-color: #252525;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  min-height: 850px; }
  .main-nosotros img {
    width: 75vw; }
  .main-nosotros h4 {
    background-color: #EF271B;
    padding: 0px 4.5px;
    border-radius: 15px; }
  .main-nosotros h3 {
    font-size: larger; }
  .main-nosotros p {
    font-size: medium; }

.main-contacto {
  padding-top: 8.6rem;
  width: 100%;
  background-color: #252525;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; }
  .main-contacto h4 {
    font-size: large; }
  .main-contacto p {
    background-color: #EF271B;
    padding: 0px 4.5px;
    text-shadow: #252525 2px 1.2px;
    border-radius: 15px; }
  .main-contacto form {
    background: linear-gradient(to bottom, #EF271B, #F56416);
    padding: 5px 10px;
    border-radius: 8px;
    margin: 10px 0; }
  .main-contacto input {
    border-radius: 5px; }
  .main-contacto .enviar {
    display: flex;
    justify-content: center; }
    .main-contacto .enviar input {
      width: 8rem;
      border-radius: 5px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #EF271B, #F56416);
  color: white; }
  .footer h6 {
    font-size: 12.5px; }
  .footer__modFooter {
    display: flex;
    width: 50vw;
    margin: 0 auto;
    justify-content: space-evenly; }
    .footer__modFooter i {
      color: white; }

@media (min-width: 768px) {
  /* HEADER PERSONALIZADO */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(to bottom, #EF271B, #F56416);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; }
    .header__logo {
      width: 12rem; }
    .header__nav {
      list-style: none;
      text-decoration: none;
      display: block;
      transition: all 0.4s linear;
      padding: 0.5rem 0.2rem;
      border-radius: 5px; }
      .header__nav ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .header__nav ul li {
          display: inline-block; }
          .header__nav ul li a {
            font-size: 12px;
            text-decoration: none;
            color: white;
            display: block;
            transition: all 0.4s linear;
            padding: 0.5rem 0.2rem;
            border-radius: 5px; }
            .header__nav ul li a:hover {
              background-color: #4a4a4a; }
    .header__input {
      border-radius: 5px;
      font-size: 15px;
      padding: 0 20px;
      width: 75vw;
      height: 25px;
      color: #000;
      outline: none;
      border: 1px solid silver;
      text-align: center; }
    .header__lupita {
      position: absolute;
      right: 13vw;
      top: 80px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      border-radius: 15%; } }

@media (min-width: 1200px) {
  .main-index {
    padding-top: 6.6rem; }
  .main-cat {
    padding-top: 6.6rem; }
  .main-suc {
    padding-top: 6.6rem; }
  .main-nosotros {
    padding-top: 6.6rem; }
  .main-contacto {
    padding-top: 6.6rem; } }
