 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
@import './variables/colores.scss';
@import './variables/extend';
@import "../node_modules/bootstrap/scss/bootstrap";


@import './secciones/header';
@import './secciones/main-index';
@import './secciones/main-cat';
@import './secciones/main-suc';
@import './secciones/main-nosotros';
@import './secciones/main-contacto';
@import './secciones/footer';

@import './media-querys/tablets';
@import './media-querys/escritorio';