@media (min-width: 1200px) {
    .main-index {
        padding-top: 6.6rem;
     }
    .main-cat {
        padding-top: 6.6rem;
    }
    .main-suc {
        padding-top: 6.6rem;
    }
    .main-nosotros {
        padding-top: 6.6rem;
    }
    .main-contacto {
        padding-top: 6.6rem;
    }
}  


