@media (min-width: 768px) {
    /* HEADER PERSONALIZADO */
.header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        background: linear-gradient(to bottom, #EF271B, #F56416);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        .nav_desktop {
            display: none;
        }
        &__logo {
            width: 9.5rem
        }
        &__nav {
            list-style: none;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            transition: all 0.4s linear;
            border-radius: 5px;   
            .toggle {
                display: flex;
                align-items: center;
                width: 100vw;
                justify-content: space-between;
                    h5 {
                        color: white;
                        width: 100vw;
                        margin: 0;
                        text-shadow: #000 2px 2px;
                        text-align: center;
                    i {
                        color: #000;
                        margin: 0 auto;
                    }   
                    } 
                 
            }
            .nav-menu {
                margin: 0;
                padding: 0;
                list-style: none;
                flex-direction: column;
               
                display: flex;
                background-color: $colorNa;
                position: fixed;
                left: 0;
                top: 7.8rem;
                width: 100%;
                left: -100%;
                transition: left 0.4s;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                .nav-menu-item {
                        .nav-menu-link {
                            font-size: 12px;
                            text-decoration: none;
                            color: white;
                            display: block;
                            padding: 0.5rem 0.2rem;
                            border-radius: 5px;
                            &:hover,
                            .nav-menu-link_active {
                                background-color: none;
                                color: #333;
                                transition: 0.5s;
                            }
                    }    
                }
            }
            .nav-toggle {
                display: block;
                background: none;
                border: none;
                font-size: 25px;
                line-height: 40px;
                padding: 0 8px;
                cursor: pointer;
    
                &:focus:not(:focus-visible){
                    outline: none;
                }
                
            }
            .nav-menu_visible {
                left: 0;
            }
        }
        &__input {
            border-radius: 5px;
            font-size: 15px;
            padding: 0 20px;
            width: 75vw;
            height: 25px;
            color: #000;
            outline: none;
            border: 1px solid silver;
            text-align: center;       
        }
        &__lupita {
            color: white;
            position: absolute;
            right: 13vw;
            top: 63px;
            width: 20px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
            border-radius: 15%;
                button {
                    width: 1.4rem;
                    height: 1.4rem;
                        i {
                            color: white;
                        }
                }
        }
        
    
    
}

.main-index {
    width: 80%;
    margin: 0 auto;
        .tiposPC {
            margin: 0.5rem 0;

            

            &__cat {
                display: flex;
                flex-direction: row;

                img {
                    
                    width: 32%;
                    border-radius: 15px;
                    
                }
            }

        }
        &__subBanner {
            width: 85%;
            height: 200px;
            margin: 0 auto;
            img {
                display: block;
                margin: auto;
                max-width: 720px;
                
            }
        }
        .banCuotas {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
            
                img {
                    width: 23.5rem;

                }
        }

}

.main-suc {
    display: flex;
    flex-direction: column;
    .orden {
        display: flex;
        flex-direction: row;
        iframe {
            width: 70vw;
            height: 70vh;
            margin: 20px auto;
        }
        .direc {
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
            line-height: 0.6rem;
            background-color: #EF271B;
            border-radius: 10px;
            margin: 0px 0px 0px 2rem;
            width: 50%;
            height: 50%;
        }
    }
    
}

.main-nosotros {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        flex-direction: row;
        align-items: center;        
        img {
            width: 30vw;
        }
    }
}

.main-cat {
            display: flex;
            flex-direction: row;
                .cat-acordion {
                    width: 50%;
                    display: initial; 
                    max-width: 1200px;          
                    ul { 
                        padding: 0;
                            li {
                                list-style: none;
                                    a {
                                        text-decoration: none;
                                        color: #333;
                                        &:hover {
                                            color: rgb(102, 102, 255);
                                        }
                                    }
                        }
                    }
                }
                &__button {
                    display: none;
                }

}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    &__container {
        justify-content: space-between;
        margin: 0 auto;
        
    }
    &__modFooter {
        display: flex; 
        flex-direction: column;
        width: 40%;
        padding: 15px 8px;
        height: 135px;
            h6 {
                margin: 0px 0px 14px;
                text-shadow: #000 2px 2px;
            }
    }

    &__apart {
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 15px 8px;
        width: 40%;
        
        h6 {
            margin: 0px 0px 14px;
            text-shadow: #000 2px 2px;
        }
        a {
            text-decoration: none;
            p {
                line-height: 0.5rem;
                font-size: 12px;
                color: white;
                text-shadow: #000 2px 2px;
            }
        }
    }

}
}