.footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #EF271B, #F56416);
    color: white;
    padding-bottom: 14.3px;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    align-items: center;

    &__container {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

    .redes {
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin: 0 auto;

        }
            i {
                color: white;
                text-shadow: #000 1.5px 1.5px;
            }
    }
    &__modFooter {
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
        
            span {
                margin: 0 auto;
                h6 {
                    font-size: 100%;
                    font-weight: 400;
                    line-height: 24px;
                    &:after { 
                        background: black;
                        content: "";
                        display: block;
                        height: 2px;
                        margin: 0.2rem 0 0;
                        width: 2.8rem;
                    }
                }
            }
    }

    
    
}