.body {
    margin: 0;
    background-color: #252525;
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(to bottom, #EF271B, #F56416);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    &__logo {
        width: 9.5rem
    }
    &__nav {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        transition: all 0.4s linear;
        // padding: 0.5rem 0.2rem;
        border-radius: 5px;   
        .toggle {
            display: flex;
            align-items: center;
            width: 100vw;
            justify-content: space-between;
                h5 {
                    color: white;
                    width: 100vw;
                    margin: 0;
                    text-shadow: #000 2px 2px;
                    text-align: center;
                i {
                    color: #000;
                    margin: 0 auto;
                }   
                } 
             
        }
        .nav-menu {
            margin: 0;
            padding: 0;
            list-style: none;
            flex-direction: column;
            align-items: center;
            display: flex;
            background-color: $colorNa;
            position: fixed;
            left: 0;
            top: 7.8rem;
            width: 100%;
            left: 100%;
            transition: left 0.4s;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            .nav-menu-item {
                    .nav-menu-link {
                        font-size: 12px;
                        text-decoration: none;
                        color: white;
                        display: block;
                        padding: 0.5rem 0.2rem;
                        border-radius: 5px;
                        &:hover,
                        .nav-menu-link_active {
                            background-color: none;
                            color: #333;
                            transition: 0.5s;
                        }
                }    
            }
        }
        .nav-toggle {
            display: block;
            background: none;
            border: none;
            font-size: 25px;
            line-height: 40px;
            padding: 0 8px;
            cursor: pointer;

            &:focus:not(:focus-visible){
                outline: none;
            }
            
        }
        .nav-menu_visible {
            left: 0;
        }
    }
    &__input {
        border-radius: 5px;
        font-size: 15px;
        padding: 0 20px;
        width: 75vw;
        height: 25px;
        color: #000;
        outline: none;
        border: 1px solid silver;
        text-align: center;       
    }
    &__lupita {
        position: absolute;
        right: 13vw;
        top: 63px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 15%;
    }
    


}



