
.main-contacto {
    width: 100%;
    background-color: #252525;
    color: $colorFont;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1rem;

    h4 {
        font-size: large;
    }
    p {
        @extend %estiloParrafo;
        @include fontStyle (0px 4.5px, $colorBoxtext);
        text-shadow: #252525 2px 1.2px;
        border-radius: 15px;
    }
    // form {
    //     background: $gradientColor;
    //     padding: 5px 10px;
    //     border-radius: 8px;
    //     margin: 10px 0;
    // }

    // input {
    //     border-radius: 5px;
    // }

    // .enviar {
    //     display: flex;
    //     justify-content: center;
    //     margin: 5px auto;

    //     // width: 100%;
    //     input {
    //         width: 8rem;
    //         border-radius: 5px;
    //     }
    // }
//     .bigicon {
//         font-size: 35px;
//         color: white;
//     }

//     .contacto {
//             color: #36A0FF;
//             font-size: 27px;
//             padding: 10px;
//     }
// }
}