.main-index {
    padding-top: 5.8rem;
    width: 100%;
    margin: 0 auto;
    background-color: #252525;

    &__subBanner {
        display: flex;
        justify-content: center;
        align-items: center;
            img {
                width: 90vw;
                height: 15vh;
                margin: 8px 15px;
                border-radius: 70px;
            }
    }
    &__section {
        padding: 10px;
        color: white;
            .tiposPC {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
                margin: 0 auto;
                flex-wrap: wrap;
                .title-description {
                    color: $colorTitles;
                    font-size: 1.7em;
                    font-weight: 400;
                    text-transform: capitalize;

                    &:after {
                        background: $colorNa;
                        content: "";
                        display: block;
                        height: 2px;
                        margin: 0.74rem 0 0;
                        width: 2.5rem;
                    }
                }                   
            img {
                width: 18.5rem;
                border-radius: 10px;
            }
    }
   
} 
    .banCuotas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

            img {
                width: 85vw;
                height: 4rem;
                border-radius: 70px ;
            }
    }
}