.body {
    padding-top: 5.6rem;
}

.navDesktop {
    display: none;
}

.main-index {
    padding-top: 0.5rem;
    width: 100%;
    margin: 0 auto;
    background-color: #252525;

    &__subBanner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;

            img {
                width: 90vw;
                border-radius: 70px;
            }
    }
    &__section {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
            .tiposPC {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 0 auto;
                flex-wrap: wrap;
                &__cat {
                    display: flex;
                    flex-direction: column;
                    max-width: 1000px;
                    min-width: 320px;
                         
                    img {
                    margin: 5px auto;
                    width: 90%;
                    border-radius: 15px;
                    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
                    transition-property: box-shadow;
                    transition: 0.4s;
                    cursor: pointer;
                        &:hover {
                            box-shadow: 0 0 0 0.2em rgba(255, 50, 65, 0.7) ;
                            
                            transform: scale(1.1);

                        }
                    
                    &:focus {
                        color: $colorNa;
                    }
                    }
                }
                  

    }
.text-container {
    width: 100%;
    display: flex;
    
}
    
.title-description {
    color: $colorTitles;
    font-size: 1.7em;
    font-weight: 400;
    text-transform: capitalize;
    margin: 15px auto 10px;                               
    &:after { 
        background: $colorNa;
        content: "";
        display: block;
        height: 2px;
        margin: 0.74rem 0 0;
        width: 2.5rem;
    }
} 
   
} 
    .banCuotas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

            img {
                border-radius: 15px;
                display: block;
                margin: auto;
                max-width: 720px;
                width: 80vw;
                
            }
    }

}   
.footer {
    &__apart {
        display: none;
    }
}